<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Arcano</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
</head>

<body>

    <!-- navbar -->
    <nav>

        <h1>Arcano</h1>

        <h2>
            Descubra seu arcano pessoal
        </h2>

    </nav>

    <!-- conteúdo -->
    <section>

        <!-- formulário -->
        <form novalidate method="POST">

            <label for="birthdate">
                Coloque aqui sua data de nascimento:
            </label>

            <input
                type="date"
                id="birthdate"
                name="birthdate">

                {%if erro%}
                <p class= "erro">{{erro}}</p>
                {%endif%}

            <button type="submit" class="magic-button">
                <svg viewBox="0 0 96 96" fill="none">
                    <path d="M93.781 51.578C95 50.969 96 49.359 96 48c0-1.375-1-2.969-2.219-3.578..." fill="#F2C14E"/>
                </svg>

                <svg viewBox="0 0 96 96" fill="none">
                    <path d="M93.781 51.578C95 50.969 96 49.359 96 48c0-1.375-1-2.969-2.219-3.578..." fill="#F2C14E"/>
                </svg>
                
                <span>
                Descobrir Arcano
                </span>
            </button>

        </form>

        <!-- resultado -->
        {% if resultado %}

        <div class="resultado">

            <h2>Resultado</h2>

            <p>
                Soma Total:
                {{ resultado.soma }}
            </p>

            <p>
                Arcano Principal:
                {{ resultado.arcano_principal }}
            </p>

            <p>
                Arcano Reduzido:
                {{ resultado.arcano_reduzido }}
                ({{ resultado.numero_reduzido }})
            </p>

        </div>

        {% endif %}

        <!-- explicação -->
        <div class="sobre">

            <h3>O que é um arcano pessoal</h3>
            <p>
            Os arcanos pessoais são cartas do tarot associadas à sua data de nascimento. A ideia é que, através da soma dos números da sua data, seja possível encontrar cartas que representem características da sua personalidade, desafios, talentos e momentos importantes da vida.
            No tarot, os arcanos maiores são 22 cartas numeradas de 0 a 21, e cada uma possui um significado simbólico.
            </p>
            <p>           
            O cálculo normalmente funciona somando todos os números da data de nascimento até encontrar um número correspondente a um arcano. Em alguns métodos, também existe um “arcano reduzido”, obtido ao somar novamente os dígitos do resultado principal.
            </p>

        </div>

    </section>

</body>

</html>